html {
  background: #2196f3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2196f3, #f44336);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2196f3, #f44336);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Droid Sans";
  font-size: 16px; }

html, body {
  margin: 0px;
  padding: 0px; }

table {
  border-collapse: collapse; }

table, th, td {
  border: solid 1px black; }

th, td {
  padding: 5px 10px;
  font-size: 12px; }

hr {
  border: dotted 1px black;
  width: calc(100% - 80px); }

h4 {
  margin: 10px; }

pre {
  word-wrap: break-word;
  white-space: pre-line; }

fieldset h4 {
  display: inline-block;
  min-width: 100px;
  vertical-align: top; }

h1 {
  word-wrap: break-word;
  margin: 0px;
  font-size: 48px;
  font-family: "Droid Sans Mono";
  color: white;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 168, 255, 0.5), 2px 2px 0 rgba(255, 0, 180, 0.5), 3px 3px 0 rgba(255, 210, 23, 0.5), 4px 4px 0 rgba(0, 168, 255, 0.5), 5px 5px 0 rgba(255, 0, 180, 0.5), 6px 6px 0 rgba(255, 210, 23, 0.5), 7px 7px 0 rgba(0, 168, 255, 0.5), 8px 8px 0 rgba(255, 0, 180, 0.5); }

h2 {
  text-align: center;
  word-wrap: break-word;
  margin: 0px;
  font-size: 36px;
  font-family: "Droid Sans Mono";
  color: firebrick;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 168, 255, 0.5), 2px 2px 0 rgba(255, 0, 180, 0.5), 3px 3px 0 rgba(255, 210, 23, 0.5), 4px 4px 0 rgba(0, 168, 255, 0.5), 5px 5px 0 rgba(255, 0, 180, 0.5), 6px 6px 0 rgba(255, 210, 23, 0.5), 7px 7px 0 rgba(0, 168, 255, 0.5), 8px 8px 0 rgba(255, 0, 180, 0.5); }

h3 {
  margin-top: 5px; }

fieldset {
  border: none;
  position: relative; }

#history-icon, #search-icon {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1; }

#history-table {
  margin: auto; }

td.load {
  cursor: pointer; }
  td.load > span {
    display: inline-block;
    width: 100%;
    height: 100%; }

#search {
  text-align: center; }

#logo {
  filter: blur(5px);
  position: absolute;
  z-index: -10;
  left: 20%;
  width: 60%; }

#name {
  font-size: 16px;
  width: 100%;
  max-width: 320px;
  padding: 10px 20px;
  outline: none;
  border: solid 3px transparent;
  border-radius: 5px;
  transition: 300ms border-color;
  background: rgba(255, 255, 255, 0.5); }

#name-wrap.valid::after {
  font-family: "FontAwesome";
  content: "\f058";
  position: absolute;
  color: rgba(53, 206, 141, 0.5);
  margin: 15px; }

#name-wrap.invalid::after {
  font-family: "FontAwesome";
  content: "\f057";
  position: absolute;
  color: firebrick;
  margin: 15px; }

#submit {
  padding: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  background: rgba(53, 206, 141, 0.5);
  outline: none;
  transition: 300ms background; }

.radios fieldset[disabled], .radios fieldset[disabled] * {
  cursor: not-allowed; }

#submit[disabled] {
  cursor: not-allowed;
  background: #6BA292; }

.validation-icon {
  font-size: 24px;
  display: none;
  position: absolute;
  right: 20px;
  top: 16px; }

.fa-times-circle {
  color: firebrick; }

.fa-check-circle {
  color: rgba(53, 206, 141, 0.5); }

.show {
  display: initial; }

.expander {
  margin-left: 10px;
  cursor: pointer; }

.collapsed {
  display: none; }

.pass {
  background: rgba(40, 255, 100, 0.2); }

.fail {
  background: rgba(255, 40, 100, 0.2); }

#progress-message {
  text-align: center; }

.result-wrap {
  padding: 20px;
  margin: 0 auto 20px auto; }

#name:focus {
  border-color: rgba(53, 206, 141, 0.5); }

.radios {
  margin: auto; }

.radios .fs-wrap {
  display: inline-block; }

.radios fieldset {
  text-align: left;
  display: inline-block;
  min-width: 150px;
  max-width: 150px;
  margin: auto;
  background: rgba(233, 150, 122, 0.5);
  cursor: pointer;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 5px auto;
  padding: 15px; }

.radios fieldset.selected {
  background: rgba(53, 206, 141, 0.5);
  border-color: rgba(53, 206, 141, 0.5); }

input[type="radio"] {
  position: absolute;
  cursor: pointer; }

label {
  width: 100%;
  padding-left: 30px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer; }

.card {
  overflow: hidden;
  position: relative;
  min-width: 200px;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2); }

.card.no-bg {
  background: none; }

.meter {
  width: 100%;
  max-width: 400px;
  margin: auto;
  height: 20px;
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); }

.meter > span {
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2bc253;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2bc253), color-stop(1, #2196f3));
  background-image: -moz-linear-gradient(center bottom, #2bc253 37%, #2196f3 69%);
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden; }

.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden; }

.hide {
  display: none; }

@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }
